.title{
    color:black;
    margin:auto;
    text-align:center;
    padding: 10px;
  }
  
div#id1 table{
    background-color:yellow;
    margin:auto ;
    color:black;
    border: 1px solid black;
    text-align:center;
 
}
.container{
    font-size: 25px;
    padding:10px;
    margin:auto
}
